/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/dashboard/tasks/ContributionGrid.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.grid {
  display: grid;
  grid-template-columns: repeat(53, max-content);
  gap: 2px;
  margin-top: 8px;
  width: -moz-max-content;
  width: max-content;
  overflow-x: auto;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.cell {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.cell:hover {
  transform: scale(1.2);
  z-index: 1;
}

.cell.active {
  cursor: pointer;
}

.cell.empty {
  background-color: #0d1117;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .cell.empty {
    background-color: #161b22;
  }
} 
